<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd">

  <context:annotation-config />

  <bean id="placeholderConfigurer" class="se.su.it.ldap.orm.config.ConfigSlurperPropertyPlaceholderConfigurer">
    <property name="systemPropertiesMode">
      <util:constant static-field="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer.SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
    </property>
  </bean>

  <bean id="ldapConnectionConfig" class="org.apache.directory.ldap.client.api.LdapConnectionConfig">
    <property name="ldapHost" value="${ldap.host}" />
    <property name="ldapPort" value="${ldap.port}" />
  </bean>

  <bean id="connectionFactory" class="org.apache.directory.ldap.client.api.PoolableLdapConnectionFactory">
    <constructor-arg name="config" ref="ldapConnectionConfig"/>
  </bean>

  <bean id="connectionPool" class="org.apache.directory.ldap.client.api.LdapConnectionPool">
    <constructor-arg name="factory" ref="connectionFactory" />
    <property name="testOnBorrow" value="true" />
  </bean>

  <bean id="configuration" class="javax.security.auth.login.Configuration" factory-method="getConfiguration" />

  <bean id="saslGssApiRequest" class="org.apache.directory.ldap.client.api.SaslGssApiRequest">
    <property name="loginModuleConfiguration" ref="configuration" />
  </bean>

  <bean id="configManager" class="se.su.it.ldap.orm.config.ConfigManager"/>
</beans>
